body {
    font-family: Georgia, Cambria, "Times New Roman", sans-serif;
    background-color: #FAF9F7;
    margin: 0;
    padding: 10px;
}
h1, h2 {
    font-family: "Trebuchet MS", "Lucida Grande", sans-serif;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin: 0 5px;
    color: #423D33;
}
article {
    margin: 5px;
    background-color: white;
    box-shadow: 5px 5px 5px 0px #E8E6E1;
    padding: 10px;
    width: 810px
}
figure {
    margin: 5px;
}
figcaption {
    font-style: italic;
    font-size: 14px;
    color: #857F72;
}
p { 
    margin-left: 5px;
}