body { 
   padding: 10px; 
   font-size: 36px; 
}
.yellow { background-color: #FDBA35; }   
.orange { background-color: #E44925; }  
.cyan { background-color: #00B2B7; }   
   
.container {
   width: 700px;
   grid-gap: 10px;
   display: grid;
  
   grid-template-rows: 100px 150px 100px;
   grid-template-columns: 75px 1fr 1fr 1fr 1fr;
}

section div{
   color: white;
   font-size: 24px;
}

/* add styles below */