body {
   background: white;
   margin: 0;
   padding: 0;
}
.media-body h2 { margin: 0;}
.media {
   background-color: #ECEFF1;
   padding: 10px;
   margin: 50px;
   width: 500px;
}

.container {
   background-color: #B6E0FE;
   padding: 5px;
   margin: 10px 50px;
}
.container div, .container span {
   background-color: #62B0E8;
   padding: 5px;
}

/* Add styles here */